body {
  background-color: #927df1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.top {
  display: flex;
  align-items: center;
  gap: 50px;
}

.arrow {
  height: 150px;
  cursor: pointer;
}

.right {
  transform: rotate(180deg);
}

.frame {
  width: 700px;
  height: 500px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom {
  display: flex;
  gap: 30px;
  /* flex-direction: row; */
}
.button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
}
