body {
  background-color: #927df1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
}

.top {
  display: flex;
  align-items: center;
  gap: 50px;
}

.arrow {
  height: 150px;
  cursor: pointer;
}

.right {
  transform: rotate(180deg);
}
